test/resources/Xsd/INFO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://itg.isban.cl/AppInversiones/Resources/Schemas/INFO.xsd"
	 targetNamespace="http://itg.isban.cl/AppInversiones/Resources/Schemas/INFO.xsp"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" type="xs:string"/>
				<xs:element name="Resultado" type="xs:string"/>
				<xs:element name="Mensaje" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
